:root {
    --gradient: linear-gradient(180deg, rgba(45, 114, 1132, 0.75) 0%, hsl(221, 74%, 33%) 100%);
    --dark: #001747;
    --grey: #545050;
    --grey-border: rgba(210, 210, 210, 0.75);
    --grey-light: #eeeeee;
    --grey-dark: #405175;
    --blue: #2d70fd;
    --red: #FF0000;
    --green: #00d87a;
    --white: #ffffff;
}

.body {
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.task-list-wrapper {
    width: 90%;
    margin-top: 1rem;  /* Add margin to create space between input and list */
    /* margin-bottom: 1rem;  /* Space between list and footer */
    /* overflow-y: auto;  Allow scrolling if the list gets too long */
    /* max-height: 300px;  Limit the height to avoid excessive scrolling */
}

.todo {
    display: flex;
    flex-direction: column;
    height: 62%;
    width: 60%;
    background: var(--white);
    border-radius: 2rem;
    align-items: center;
    max-width: 35rem;
    box-shadow: 0rem 1rem 3rem 1rem black;
    margin-top: 5rem;
}

.todo_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

h3 {
    margin-top: 2rem;
    text-transform: uppercase;
}

h4, h5 {
    margin: 1rem;
}

p {
    margin: 0;
    font-size: 1rem;
    align-self: center;
}

p.completed {
    text-decoration-line: line-through;
}

.input_container {
    display: flex;
    position: relative;
    width: 90%;
}

.input_field {
    width: 100%;
    font-size: 16px;
    border-radius: 0.5rem;
    border: 0.06rem solid var(--grey);
    padding: 1.25rem;
}

input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    border: 1px solid var(--grey);
    border-radius: 50%;
    text-align: center;
    font-size: 1.6rem;
    color: transparent;
}

input[type="checkbox"]:checked:before {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 50%;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
}

.counter{
    border: solid 0.06rem var(--grey-light);
}

.counter_container{
    /* height: 2rem; */
    font-size: 1rem;
    color: var(--grey);
    display: flex;
    justify-content: space-between;
}

.scroll {
    height: 15rem;
    scrollbar-width: thin;
    width: 90%;
}

ul{
    padding: 0px;
    margin: 0px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

li{
    padding:0.7rem;
    color: var(--grey);
}

.btn {
    color: var(--white);
    font-size: 1.1rem;
    background: var(--blue);
    border-radius: 0.3rem;
    border: none;
    padding: 0.7rem 1.5rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
}

.delete_btn {
    color: var(--white);
    font-size: 1.1rem;
    background: var(--red);
    border-radius: 0.3rem;
    border: none;
    padding: 0.7rem 1.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    /* padding: 0.7rem 1.5rem; */
    /* border: none;
    color: var(--grey);
    background: transparent;
    font-size: 1rem; */
    cursor: pointer;
}